*, *::after, *::before{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.877);
    margin: 0; 
}

h1 {
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    font-size: 50px;
    font-weight: bolder;
}

body {
  background-color: rgba(36, 237, 255, 0.274);
}

.inputs {
    display:flex;  
    justify-content: center;
    align-items: center;
    width:100vw;
    transition: opacity 0.3s ease-in-out;
}

.inputs > button {
    font-size: 2rem;
    height:25%;
    width:10%;
    background-color: rgba(127, 255, 212, 0.404);
    border-radius: 20px;
    cursor: pointer;

}

.inputs > input {
    font-size: 4rem;
    background-color: rgba(240, 248, 255, 0.384);
    width:80%;
}

.results {
    display:inline-flex;
    flex-direction: column;
    align-items: center;
    line-height: 5rem;
    list-style-type: none;
    width:100%;
    font-size:3rem;
}

.newresult {
    padding-top: 1rem;
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: center;
}

.newresult > div {
    display:inline-flex;
    flex-direction: row;
    flex-wrap:wrap;
}


.total.show{
    padding-left: 100px;
}

.green {
    color: green;
}

.red {
    color: red;
}

li {
    height:0;
    margin:0;
    padding:0;
    display:inline-block;
    line-height: 40px;
  }
  
.tutorial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tutorial button {
  border-radius: 25px;
  border: 3px solid rgba(0, 0, 0, 0.863);
  cursor: pointer;
  font-size: 40px;
  width:50px;
  height:50px;
  background-color: rgba(240, 255, 255, 0.644);
}

.tutorial p {
  font-size:20px;
  justify-content: center;
  text-align:center;
  width:100vw;
  overflow: hidden;
  max-height:0vh;
  transition: max-height 0.3s ease-in-out;
  background-color: rgba(128, 128, 128, 0.199);
}

.tutorial p.show {
  border-radius: 10px;
  font-size: 20px;
  justify-content: center;
  text-align:center;
  width: 100vw;
  max-height: 30vh;
  transition: max-height 0.3s ease-in-out;
}

.backdrop {
  transition: opacity 0.3s ease-in-out;
  opacity: 30%;
}

  
li.show {
    height: 2em;
    margin: 2px 0;
    padding: 5px;
  }
  
  .fade li {
    transition: all 0.4s ease-out;
    opacity: 0;
  }
  .fade li.show {
    opacity: 1;
  }
  
  .swing {
    perspective: 100px;
  }
  
  .swing li {
    opacity: 0;
    transform: rotateX(-90deg);
    transition: all 1s cubic-bezier(.36,-0.64,.34,1.76);
  }
  
  .swing li.show {
    opacity: 1;
    transform: none;
    transition: all 1s cubic-bezier(.36,-0.64,.34,1.76);
  }

  @media screen and (max-width: 750px)  {
    .inputs > button {
      font-size: 12px;
      height:30px;
    }
  
    h1{
      font-size: 30px;
    }
  
    .inputs > input {
      font-size: 2rem;
  }
    .results{
      font-size:2rem;
    }
    .total.show{
      padding-left: 30%;
  }
  }

@media screen and (max-width: 400px)  {
  .inputs > button {
    font-size: 0px;
    height:25px;
  }

  h1{
    font-size: 25px;
  }

  .inputs > input {
    font-size: 1rem;
}
  .results{
    font-size:1rem;
  }
  .total.show{
    padding-left: 20%;
}
}